.admin-card {
  background: #dee2e6;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #111;
}

.admin-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  background: #dee2e6;
}
